body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.quiz-container {
  width: 300px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
}

button {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}
